$primary-color: #A991F7;
$secondary-color: #FEC8D8;
$accent-color: #A7F3D0;
$background-color: #3D348B;
$text-color: #E0E7FF;
$button-color: #F9A8D4;
$border-color: #C4B5FD;
$gradient-start: #6A5ACD;
$gradient-end: #FFB6C1;
